#root {
  max-width: 1280px;
  margin: 0 auto; 
  text-align: center;
  background-image: url('./assets/bg.png');
  background-size: cover;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.game-logo {
  width: 300px; /* Adjusted size */
  height: auto;

}

.square.animating {
  visibility: hidden;
}

.square.falling {
  animation: fall 0.3s ease-in-out;
}

.square.disappearing {
  animation: disappear 0.2s ease-in-out forwards;
}

.square.appearing {
  animation: appear 0.2s ease-in-out forwards; /* Changed duration to 0.3s */
}

.square.swapping {
  animation: swap 0.2s ease-in-out;
}

@keyframes fall {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes swap {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(var(--swap-x, 0), var(--swap-y, 0));
  }
  100% {
    transform: translate(0, 0);
  }
}

.board {
  display: grid;
  grid-template-rows: repeat(8, 12vw);
  grid-template-columns: repeat(8, 12vw);
  gap: 2px;
  width: 100vw;
  height: 100vw;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
}

.row {
  display: contents;
}

.square {
  width: 11.5vw;
  height: 11.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.square.red {
  background-image: url('./assets/1.png');
  background-size: cover;
}

.square.blue {
  background-image: url('./assets/2.png');
  background-size: cover;
}

.square.green {
  background-image: url('./assets/3.png');
  background-size: cover;
}

.square.yellow {
  background-image: url('./assets/4.png');
  background-size: cover;
}

.square.purple {
  background-image: url('./assets/5.png');
  background-size: cover;
}

.square.orange {
  background-image: url('./assets/6.png'); /* Add this line */
  background-size: cover;
}

.square.pink {
  background-image: url('./assets/7.png'); /* Add this line */
  background-size: cover;
}

.score-container {
  position: relative;
  display: inline-block;
}

.score-background {
  width: 150px; /* Adjust size as needed */
  height: auto;
}

.score {
  position: absolute;
  top: 45%;
  left: 65%; /* Adjusted from 50% to 65% */
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  color: white;
}

.score {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 5rem;
}

.game-over {
  font-size: 2rem;
  color: red;
  margin-top: 1rem;
}

.cannot-move {
  opacity: 0.5;
}

.rules-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.rules-content {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  text-align: left;
  color: black; 
}

.rules-content h2 {
  margin-top: 0;
}

.rules-content button {
  margin-top: 10rem;
}

.rules-content button {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.show-rules-button {
  margin-top: 2rem;
  width: 200px; /* Add this line */
  height: 50px; /* Add this line */
  cursor: pointer; /* Add this line */
}

@media (min-width: 1280px) {
  .board {
    grid-template-rows: repeat(8, 50px);
    grid-template-columns: repeat(8, 50px);
    width: auto;
    height: auto;
  }

  .square {
    width: 50px;
    height: 50px;
  }
}
